# default ignore everything
*

# keep .gitignore
!.gitignore

# keep bash files
!.bashrc
!.bash_aliases
!.bash_profile

# keep xorg files
!.xinitrc
!.Xresources

# suckless tools
!.suckless
!.suckless/st-0.9
.suckless/st-0.9/*
!.suckless/st-0.9/config.def.h
!.suckless/st-0.9/patches/
!.suckless/st-0.9/patches/*

# pacman pkgs
!.pacman-pkgs

# bash scripts
!.scripts

# keep .config but not all in it
!.config
.config/*

# nvim
!.config/nvim
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/plugin/
!.config/nvim/plugin/*

# i3 config
!.config/i3
!.config/i3/*

# nitrogen
!.config/nitrogen
!.config/nitrogen/*

# Wallpapers for nitrogen
!Pictures
Pictures/*
!Pictures/Wallpapers/
!Pictures/Wallpapers/*

