# default ignore everything
*

# keep .gitignore
!~/.gitignore

# keep bash files
!~/.bashrc
!~/.bash_aliases
!~/.bash_profile

# keep xorg files
!~/.xinitrc
!~/.Xresources

# suckless tools
!~/.suckless/st-0.9/config.def.h
!~/.suckless/st-0.9/patches

# pacman pkgs
!~/.pacman-pkgs

# bash scripts
!~/.scripts

# nvim
!~/.config/nvim

# i3 config
!~/.config/i3

# nitrogen
!~/.config/nitrogen
# Wallpapers for nitrogen
~/Pictures/Wallpaper 


